---
extends: default

# 各ロールはmoleculeでlintするため除外
ignore: |
  .git/
  .venv/
  roles/
yaml-files:
  - '*.yaml'
  - '*.yml'
  - '.yamllint'
  - '.ansible-lint'

rules:
  comments-indentation: disable
  line-length:
    max: 140
  truthy: disable
